* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica
}

.footer-container {
    background-color: #212319;
    padding-bottom: 4rem;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #212319;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out
}

.footer-email-form h2 {
    margin-bottom: 2em;
}

.footer-mail-forn {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer-mail::placeholder {
    color: #b1b1b1;
}

.footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9743d;
}